html {
	scroll-behavior: smooth;
}

body {
background-color: rgb(247, 247, 247);
}

a, a span.pre {
	color: #1464A3;
}

a:hover, a:hover span.pre{
	color: rgb(15, 74, 123);
}


/* NAVIGATION BAR - LOGO */

a.sk-nav-dropdown-item:active {
  color: white;
  background-color: rgb(163,20,100);
}

.navbar-light .navbar-nav a.nav-link, a.sk-dropdown-item {
  color: #1464A3;
}

.navbar-light .navbar-nav a.nav-link:hover, a.sk-dropdown-item:hover {
  color: rgb(15, 74, 123);
}

/* MAIN PAGE - HEADER */
div.sk-landing-bg {
  background-image:none;
  background-color: rgb(255, 255, 255);
}
a.sk-landing-btn {
  background-color: rgb(163,20,100);
  color:white;
}
a.sk-landing-btn:hover {
  border-color: rgb(163,20,100);
  background-color:  rgb(87, 11, 53);
  color: white;
}
h1.sk-landing-header {
   color: rgb(30, 154, 168);
   font-weight: 600;
   text-align: center;
}
h2.sk-landing-subheader {
   font-weight: 600;
   color: rgb(30, 154, 168);
   font-size: 1.7rem;
   text-align: center;
   padding-top:20px;
}

/* MAIN PAGE - BODY */
.bw-lines{
     overflow: hidden;
     text-align: center;
 }
.bw-lines > span{
    position: relative;
    display: inline-block;
}
.bw-lines > span:before, .bw-lines > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 100vw;
    margin: 0 20px;
}
.bw-lines > span:before{
    right: 100%;
}
.bw-lines > span:after{
    left: 100%;
}
h2.sk-landing-blocksection {
   color: rgb(30, 154, 168);
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
   padding-top: 40px;
   padding-bottom: 20px;
}
.card {
	border-color: rgb(163,20,100);
	padding-bottom: 20px;
}
.sk-card-title {
   color: rgb(163,20,100);
   text-align: center;
}
p.card-dependencies {font-style: italic;}

.beta {
  background-color: rgb(163,20,100);
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: 0px;
  top: 0px;
  color: white;
  border-radius: 5px;
}
.beta:hover {
	background-color: rgb(87, 11, 53);
}
.beta a {
  border: 1px solid rgb(255, 205, 155);
  display: block;
  margin: 0px 0;
  padding: 0px 6px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
/* MAIN PAGE - FOOTER */
img.sk-footer-libraries-logo {
  max-height: 36px;
  max-width: 80px;
  margin: 0 8px;
  margin-bottom: 8px;
}

/* PAGE - MODULES */
.fa-li, .fa-home {
	color: rgb(15, 74, 123);
}

/* PAGE - TITLES */
div.section h1, #search-documentation {
   color: rgb(30, 154, 168);
   background-color: white;
   font-weight: bold;
   font-size: 40px;
}
div.section h2, #search-results h2 {
  color: rgb(30, 154, 168);
  background-color: white;
  border-color: rgb(30, 154, 168);
  border-bottom-style: solid;
  font-size: 30px;
   border-radius: 0px;
}

div.section h3 {
  color: rgb(30, 154, 168);
  background-color: white;
  font-weight: bold;
}
a.headerlink {
	color: rgb(163,20,100);
}
a.headerlink:hover {
	background-color: rgb(163,20,100);
}


/* PAGE - SIDEBAR */
div.warning, div.alert-danger {
	background-color: rgb(252, 235, 237);
	border-color: rgb(163,20,100);
	border-radius: 0px;
	border-style: none;
	border-left-style: solid;
	border-width: 3px;
	}
div.warning p.admonition-title {color: rgb(163,20,100);}

div.seealso, div.alert-warning {
	border-radius: 0px;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-width: 3px;
	border-color: #AF8A4B;
	color: black;
	}

div.seealso p.admonition-title {color: #AF8A4B;}

.sk-btn-rellink {
  background-color: rgb(30, 154, 168);
  border-color: rgb(30, 154, 168);
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: .1rem;
}
.sk-btn-rellink:hover {
  background-color: rgb(28, 81, 85);
  border-color: rgb(28, 81, 85);
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: .1rem;
}
[sk-rellink-tooltip]::before {
  background-color: rgb(30, 154, 168);
  border: 1px solid rgb(30, 154, 168);
  color: white;
}
[sk-rellink-tooltip]:hover::before {
  background-color: rgb(28, 81, 85);
  border: 1px solid rgb(28, 81, 85);
  color: white;
}

/* PAGE - BUTTONS */
a.gemseo-btn {
  background-color: rgb(30, 154, 168);
  color:white
}
a.gemseo-btn:hover {
  background-color: rgb(28, 81, 85);
  color:white
}

/* PAGE - MISC */
.card a.sk-btn-primary {
  background-color: rgb(248, 249,250);
  border: none;
  color: rgb(0,50,82);
  font-size: 1.1rem;
  font-weight: 500;
}

/* api docs */

.class > dt, .function > dt, .method > dt {
  border-left-color: rgb(163,20,100);
}

.class > dt {
    border-left-width: 10px;
}

.method > dt, .function > dt {
  border: 1px solid rgb(163,20,100);
    border-left-width: 5px;
}

.class {
    border-left: 2px solid rgb(163,20,100);
}

.field-list > dt {
    color:rgba(30, 154, 168);
    background-color: rgba(30, 154, 168,0.1);
    border: 1px solid rgba(30, 154, 168,0.3);
}
.field-list > dd {
    border: 1px solid rgba(30, 154, 168,0.3);
}

.field-even {
  margin-top: 10px;
}

dl.field-list > dt:after {
  content: "";
}
